# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
xgcm/_version.py
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
doc/_build/

# PyBuilder
target/

# notebook
*/.ipynb_checkpoints/*

# vscode stuff
.vscode/settings.json
.vscode/launch.json

# temporary dask stuff
dask-worker-space/purge.lock
dask-worker-space/global.lock
dask-worker-space/dask-worker-space/global.lock
dask-worker-space/dask-worker-space/purge.lock

# CI/Linting
.mypy_cache
xgcm/.vscode/settings.json
02_Testing xgcm metrics.ipynb
Testing xgcm.ipynb
.ipynb_checkpoints/02_Testing xgcm metrics-checkpoint.ipynb
xgcm/test/sample.py
