# our test environment for core dependencies only (atm this excludes numba),
# using the latest stable versions of packages.
name: test_env_xgcm
channels:
  - conda-forge
dependencies:
  - codecov
  - docrep<=0.2.7
  - numpy
  - scipy
  - pip
  - pre-commit
  - pytest
  - pytest-cov
  - pytest-xdist
  - python=3.8
  - xarray
  - typing_extensions
