name: CI
on:
  workflow_dispatch:
  push:
    branches:
      - "master"
  pull_request:
    branches:
      - "*"
  schedule:
    - cron: "0 13 * * 1"


concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  PIXI_VERSION: "v0.63.0"


jobs:
  cache-pixi-lock:
    runs-on: ubuntu-slim
    outputs:
      cache-key: ${{ steps.pixi-lock.outputs.cache-key }}
      pixi-version: ${{ steps.pixi-lock.outputs.pixi-version }}
    steps:
      - uses: actions/checkout@v4
      - uses: Parcels-code/pixi-lock/create-and-cache@2b823a4a804631370fbde7e6088ee5db71a26c60 # TODO: Update to action in prefix-dev once available
        id: pixi-lock
        with:
          pixi-version: ${{env.PIXI_VERSION}}
      - uses: actions/upload-artifact@v6
        with:
          name: pixi-lock
          path: pixi.lock
  test:
    name: Test (${{ matrix.pixi-env }})
    needs: ["cache-pixi-lock"]
    if: github.repository == 'xgcm/xgcm'
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        pixi-env:
          - test-latest
          - test-minimum
          - test-py311
          - test-core
          - test-nightly
    env:
      PIXI_ENV: ${{ matrix.pixi-env }}
    steps:
      - uses: actions/checkout@v5

      - name: Restore cached pixi lockfile
        uses: Parcels-code/pixi-lock/restore@2b823a4a804631370fbde7e6088ee5db71a26c60
        with:
          cache-key: ${{ needs.cache-pixi-lock.outputs.cache-key }}
      
      - uses: prefix-dev/setup-pixi@v0.9.0
        with:
          pixi-version: ${{ needs.cache-pixi-lock.outputs.pixi-version }}
          cache: true
          cache-write: ${{ github.event_name == 'push' && github.ref_name == 'master' }}
      - name: Run Tests
        run: |
          pixi run -e ${{matrix.pixi-env}} tests --cov=./ --cov-report=xml
      - name: Upload code coverage to Codecov
        uses: codecov/codecov-action@v5.5.1
        with:
          file: ./coverage.xml
          flags: unittests
          env_vars: PIXI_ENV
          name: codecov-umbrella
          fail_ci_if_error: false

