name: Create release reminder
on:
  schedule:
  # Run on the first of the month
  - cron: "0 00 1 * *"

  workflow_dispatch:

jobs:
  create-sync-issue:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: JasonEtco/create-an-issue@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        filename: .github/ISSUE_TEMPLATE/release_reminder.md
