name: "Close stale issues"
on:
  schedule:
  - cron: "0 12 * * *"

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/stale@v3
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        exempt-issue-labels: 'keepOpen,In Progress,bug'
        exempt-pr-labels: 'keepOpen,In Progress'
        stale-issue-message: "This issue has been marked 'stale' due to lack of recent activity. If there is no further activity, the issue will be closed in another 30 days. Thank you for your contribution!"
        close-issue-message: "This issue has been closed due to inactivity. If you feel this is in error, please reopen the issue or file a new issue with the relevant details."
        stale-pr-message: "This pull request has been marked 'stale' due to lack of recent activity. If there is no further activity, the pull request will be closed in another 30 days. Thank you for your contribution!"
        close-pr-message: "This pull request has been closed due to inactivity. If you feel this is in error, please reopen the pull request."
